body {
  font-family: "Roboto", sans-serif;
  /* width: 100rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 2348px; */
  /* display: inline-block;
  vertical-align: middle; */
  /* width: 100rem; */
  /* display: inline-block;
  text-align: center; */
}

/* body > div {
  width: 100rem;
  display: inline-block;
  vertical-align: middle;
  width: 100rem;
} */

.navigation {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff;
  margin-top: 24px;
  background-color: black; 
  padding-top: 24px;
  margin-bottom: -24px; */
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  /* justify-content: center; */
}

/* .menuButtons {
    padding-top: 24px;
} */

.home-page-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #000000;
  /* margin-left: 215px; */
  /* margin-left: 215px;
    vertical-align: middle; */
}

.menu-button {
  font-size: 0.875rem;
  color: #212121;
  font-weight: 500;
  margin-left: 3.13rem;
}

.contact-button {
  font-size: 0.875rem;
  color: var(--paragraphs-color);
  font-weight: 500;
  margin-left: 2.5rem;
}

.blue-button {
  color: var(--active-buttons-color);
}

/* .first-menu-button {
  margin-left: 93px;
} */

/* .first-contact-button {
  margin-left: 385px;
} */

.menu-button.first-button {
  margin-left: 5.81rem;
}

.contact-button.first-button {
  margin-left: 24.06rem;
}

.main-page {
  background-color: #2f303a;
  height: 37.5rem;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  box-sizing: border-box;
  padding: 12.5rem 0;
  /* display: inline-block; */
  /* width: 43.5rem; */
}

.main-page-area {
  width: 43.5rem;
  display: inline-block;
  /* text-align: center; */
}

.main-page-title {
  /* vertical-align: middle; */
  /* padding-top: 200px; */
  /* text-align: center; */
  color: #ffffff;
  font-weight: 900;
  font-size: 2.75rem;
  letter-spacing: 0.165rem;
  /* width: 43.5rem; */
  /* display: inline-block; */
}

.request-service-button {
  /* text-align: center; */
  background-color: var(--active-buttons-color);
  color: #ffffff;
  height: 3.125rem;
  width: 12.5rem;
  margin-top: 1.87rem;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 1rem;
  border: none;
  /* display: block; */
}

.our-offer {
  /* display: grid;
  grid-template-columns: auto; */
  height: 48.06rem;
  /* row-gap: 5.88rem; */
  box-sizing: border-box;
  padding: 5.88rem 0;
  /* background-color: #000000; */
  /* margin: 5.88rem 0; */
}

/* .our-offer-part {
  height: 48.06rem;
  box-sizing: border-box;
  padding: 5.88rem 0;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5.88rem;
} */

.strong-points {
  display: flex;
  /* align-items: end; */
  justify-content: center;
  /* box-sizing: border-box;
  height: 70%; */
  margin-bottom: 5.88rem;
}

.strong-points-list {
  /* text-align: center; */
  /* margin-top: 94px; */
  /* height: 12.18rem; */
  /* display: flex;
  align-items: end;
  justify-content: center; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* column-gap: 1.88rem; */
  /* display: inline-block; */
  /* background-color: #2196f3; */
  /* width: 73.125rem; */
  /* height: ; */
  /* height: 6.3125rem; */
  column-gap: 1.88rem;
}

.strong-point-box {
  height: 6.3125rem;
  width: 16.875rem;
  /* display: inline-block;
  vertical-align: middle;
  margin-left: 1.88rem;
  background-color: antiquewhite; */
}

.what-we-do-photos {
  /* text-align: center;
  margin-top: 50px; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.88rem;
}

.strong-point-title {
  text-align: left;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.62rem;
  /* letter-spacing: 0.02625rem; */
}

.strong-point-details {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--paragraphs-color);
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: 0.02625rem;
}

.section-title {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 3.13rem;
}

.what-we-do-photo {
  width: 23.125rem;
  height: 18.375rem;
  /* margin-left: 1.88rem; */
  /* display: grid;
  grid-template-columns: auto auto auto; */
}

.our-team {
  /* height: 648px; */
  background-color: var(--buttons-color);
  /* padding-top: 94px; */
  /* margin-top: 47px; */
  height: 40.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 0; */
}

.what-we-do {
  /* margin-top: 94px; */
  /* margin-bottom: 3.13rem; */
  /* height: 35.88rem; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.person-box {
  width: 16.875rem;
  height: 23rem;
  background-color: #ffffff;
  display: inline-block;
  /* text-align: center; */
  /* margin-left: 10rem; */
  /* margin-left: 0; */
  /* text-align: center; */
  margin-left: 1.87rem;
  /* margin-bottom: 94px; */
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  box-shadow: var(--team-boxes-shadow);
}

.person-image {
  height: 16.25rem;
  width: 16.875rem;
}

/* .person-boxs {
  text-align: center;
} */

.person-name {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.63rem;
}

.person-position {
  font-weight: 400;
  font-size: 1rem;
  color: var(--paragraphs-color);
}

.footer {
  background-color: #2f303a;
  height: 15.6875rem;
  /* margin-top: 47px; */
}

.footer-content {
  padding-left: 13.44rem;
  /* padding-top: 60px; */
}

.footer-home-page-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #ffffff;
}

.contacts {
  /* margin-top: 28px; */
  font-style: normal;
}

.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 1.75rem;
}

.contact {
  color: var(--paragraphs-color);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 0.75rem;
  display: inline-block;
}

.button {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

/* .strong-points > div:first-of-type {
  margin-left: 0;
  background-color: burlywood;
} */

.what-we-do-photos > img:first-of-type {
  margin-left: 0;
}

.person-boxs > div:first-of-type {
  margin-left: 0rem;
}

.person-about {
  height: 6.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #000000; */
}

.footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.menu-button:hover,
.menu-button:focus,
.contact-button:focus,
.contact-button:hover {
  /* cursor: pointer; */
  color: var(--active-buttons-color);
}

.request-service-button:focus,
.request-service-button:hover {
  cursor: pointer;
}

.line {
  height: 0.0625rem;
  background-color: #ececec;
}

:root {
  --active-buttons-color: #2196f3;
  --paragraphs-color: #757575;
  --buttons-color: #f5f4fa;
  --buttons-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  --team-boxes-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --products-boxes-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product {
  /* width: 23.125rem;
  height: 25.25rem; */
  /* display: inline-block; */
  /* display: grid; */
  width: 23.125rem;
  height: 25.25rem;
  border: 1px solid #eee;
  /* margin-right: 1.88rem;
  margin-bottom: 1.88rem; */
}

.product-about > div > img {
  height: 18.375rem;
}

.product-about > div > h4 {
  font-weight: 700;
  font-size: 1.125rem;
  color: #212121;
  line-height: 2.25rem;
}

.product-about > div > p {
  color: var(--paragraphs-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.products-list {
  /* display: flex;
  flex-direction: row; */
  /* display: inline-block; */
  /* align-items: center;
  justify-content: center; */
  list-style-type: none;
  /* width: 10rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.88rem;
  row-gap: 1.88rem;
}

/* .products > div {
  width: 73.375rem;
  display: grid;
  background-color: #000000;
} */

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: grid; */
  /* background-color: #000000; */
  /* margin-right: 0;
  margin-bottom: 0; */
}

.navigation-menu-products {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 5.5rem;
}

.menu-buttons-products {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-button-products {
  width: 4rem;
  height: 2.375rem;
  background-color: var(--buttons-color);
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  /* outline: none; */
  border: none;
}

.menu-buttons-products > li:first-of-type button {
  margin-left: 0;
  /* background-color: #000000; */
}

.menu-button-products:hover,
.menu-button-products:focus {
  background-color: var(--active-buttons-color);
  color: hsl(0, 100%, 100%);
  box-shadow: var(--buttons-shadow);
  cursor: pointer;
}
.products-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96.75rem;
  /* background-color: #000000; */
  /* margin: 0; */
}

/* .products-page > div {
  height: 85rem;
  background-color: #000000;
} */

/* .product-box {
  width: 23.125rem;
  height: 25.25rem;
  border: 1px solid #eee;
  margin-right: 1.88rem;
  margin-bottom: 1.88rem;
  background-color: #000000;
  display: inline-block;
} */

/* .products-list {
  display: inline-block;
  text-align: center;
  display: grid;
  grid-row: 3;
  grid-column: 3;
} */

.product-about {
  text-align: left;
  /* display: flex;
  align-items: center; */
  height: 6.87rem;
  margin-left: 1.5rem;
  box-sizing: border-box;
  padding: 1.25rem;
}

/* .product-about > div > h4 {
} */

/* .product-3,
.product-6,
.product-9 {
  margin-right: 0rem;
} */

/* .product-7,
.product-8,
.product-9 {
  margin-bottom: 0rem;
} */

.contact:hover,
.contact:focus {
  color: var(--active-buttons-color);
}

.product:hover,
.product:focus {
  cursor: pointer;
  /* box-shadow: 0px 2px 2px 0px, rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1); */
  box-shadow: var(--products-boxes-shadow);
}

.current-page {
  color: var(--active-buttons-color);
}

.current-filter-products {
  background-color: var(--active-buttons-color);
  color: hsl(0, 100%, 100%);
  box-shadow: var(--buttons-shadow);
}

/* .product-1 {
  display: grid;
  grid-row: 3;
} */

/* .products-page div {
  background-color: #000000;
} */

.hidden {
  display: none;
}

.products-page.web-site,
.product-page.marketing,
.products-page.apps,
.product-page.design {
  height: 50.3rem;
  align-items: baseline;
  box-sizing: border-box;
  padding: 5.88rem 0 0 0;
}

/* .products-page.apps {
  height: 50.3rem;
}

.product-page.design {
  height: 50.3rem;
}

.product-page.marketing {
  height: 50.3rem;
} */

/* body.studio {
  height: 100rem;
  width: 146.75rem;
}

body.portfolio {
  height: 1879;
  width: ;
} */
