:root {
  --active-buttons-color: #2196f3;
  --paragraphs-color: #757575;
  --buttons-color: #f5f4fa;
  --buttons-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  --team-boxes-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --products-boxes-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  /* width: 100rem; */
  /* box-sizing: border-box; */
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* height: 2348px; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* text-align: center; */
  /* width: 100rem; */
  /* height: 146.75rem; */
  /* display: inline-block;
  text-align: center; */
  /* width: 100%; */
}

/* body > div {
  width: 100rem;
  display: inline-block;
  vertical-align: middle;
  width: 100rem;
} */

/* .studio-page {
  height: 146.75rem;
} */

/* .navigation {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 100rem;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  margin-top: 24px;
  background-color: black; 
  padding-top: 24px;
  margin-bottom: -24px;
  padding: 1.5rem 13.44rem;
  box-sizing: border-box;
} */

.navigation-area {
  /* display: inline-block; */
  width: 100rem;
  /* width: fit-content; */
  height: fit-content;
  margin: auto;
  padding: 1.5rem 13.44rem;
  box-sizing: border-box;
}

.navigation-buttons {
  /* display: flex;
  flex-direction: row; */
  /* list-style-type: none; */
  /* align-items: center; */
  display: grid;
  /* grid-template-columns: 9.06rem 8.43rem 6.39rem 6.45rem 32.49rem 9.56rem; */
  grid-template-columns: auto auto auto;
  /* width: 73.12rem; */
  /* column-gap: 3.12rem; */
  /* justify-self: center;
  align-self: center; */
  /* text-align: center; */
  /* display: inline-block;
  text-align: center; */
  /* justify-content: center; */
}

.navigation-button {
  justify-self: center;
  align-self: center;
}

/* .menuButtons {
    padding-top: 24px;
} */

.home-page-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #000000;
  letter-spacing: 0.04875rem;
  /* margin-left: 215px; */
  /* margin-left: 215px;
    vertical-align: middle; */
}

.menu-button {
  font-size: 0.875rem;
  color: #212121;
  font-weight: 500;
  /* justify-self: center;
  align-self: center; */
  /* margin-left: 3.13rem; */
}

.menu-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3.12rem;
  box-sizing: border-box;
  padding-left: 5.81rem;
  padding-right: 20.62rem;
}

.contact-button {
  font-size: 0.875rem;
  color: var(--paragraphs-color);
  font-weight: 500;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.62rem;
  /* align-self: center;
  justify-self: center; */
  /* margin-left: 2.5rem; */
  /* padding-left: 0.62rem; */
}

.contact-buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.5rem;
}

svg {
  fill: currentColor;
  /* width: 1rem;
  height: 0.74975rem; */
  /* box-sizing: content-box; */
  /* text-align: end; */
  /* margin: 0;
  padding: 0; */
}

.contact-button-icon {
  /* margin-right: 0.62rem;
  display: flex;
  justify-content: center;
  align-items: center; */
  align-self: center;
  /* justify-self: center; */
}

.contact-button-icon.mail {
  width: 1rem;
  height: 0.74975rem;
  /* fill: currentColor; */
  /* margin-left: 0.62rem;
  display: inline-block; */
}

.contact-button-icon.smartphone {
  /* fill: currentColor; */
  width: 0.625rem;
  height: 1rem;
}

/* .contact-button-icon-miniature {
  width: 100%;
  height: 100%;
} */

.blue-button {
  color: var(--active-buttons-color);
}

/* .first-menu-button {
  margin-left: 93px;
} */

/* .first-contact-button {
  margin-left: 385px;
} */

/* .menu-button.first-button {
  margin-left: 5.81rem;
} */

/* .contact-button.first-button {
  margin-left: 24.06rem;
} */

.main-page {
  /* background-color: #2f303a; */
  /* height: 37.5rem; */
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* box-sizing: border-box;
  padding: 12.5rem 28.25rem; */
  /* display: inline-block; */
  /* width: 43.5rem; */
}

.main-page-content {
  width: 43.5rem;
  display: inline-block;
  /* text-align: center; */
  /* text-align: center; */
}

.main-page-area {
  width: 100rem;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.3),
      rgba(50, 50, 50, 0.3)
    ),
    url(../images/background-pic-main-page-small.jpg);
  /* background-color: lightgray;
  background-position-x: 0px;
  background-position-y: -147.517px;
  background-size: 100% 170.667%;
  background-repeat: no-repeat; */

  display: inline-block;
  /* text-align: center; */
  box-sizing: border-box;
  padding: 12.5rem 28.25rem;
  height: 37.5rem;
}

.main-page-title {
  /* vertical-align: middle; */
  /* padding-top: 200px; */
  /* text-align: center; */
  color: #ffffff;
  font-weight: 900;
  font-size: 2.75rem;
  letter-spacing: 0.165rem;
  line-height: 3.75rem;
  /* width: 43.5rem; */
  /* display: inline-block; */
}

.request-service-button {
  /* text-align: center; */
  background-color: var(--active-buttons-color);
  color: #ffffff;
  height: 3.125rem;
  width: 12.5rem;
  margin-top: 1.87rem;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 1rem;
  border: none;
  /* display: block; */
}

/* .our-offer {
  display: grid;
  grid-template-columns: auto;
  height: 48.06rem;
  row-gap: 5.88rem;
  box-sizing: border-box;
  padding: 5.88rem 0;
  width: 100rem;
  background-color: #000000;
  margin: 5.88rem 0;
  text-align: center;
} */

.our-offer-area {
  /* height: 48.06rem;
  box-sizing: border-box;
  padding: 5.88rem 0;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5.88rem; */
  display: inline-block;
  width: 100rem;
  /* height: 48.06rem; */
  box-sizing: border-box;
  padding: 5.88rem 13.44rem;
}

.out-offer-content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 48.06rem; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 5.88rem;
  /* align-content: space-evenly;
  align-items: center; */
}

/* .strong-points {
  display: flex;
  align-items: end;
  justify-content: center;
  box-sizing: border-box;
  height: 70%;
  margin-bottom: 5.88rem;
} */

.strong-points-list {
  /* text-align: center; */
  /* margin-top: 94px; */
  /* height: 12.18rem; */
  /* display: flex;
  align-items: end;
  justify-content: center; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* column-gap: 1.88rem; */
  /* display: inline-block; */
  /* background-color: #2196f3; */
  /* width: 73.125rem; */
  /* height: ; */
  /* height: 6.3125rem; */
  column-gap: 1.88rem;
}

.strong-point-box {
  display: grid;
  /* grid-template-columns: auto; */
  /* grid-template-rows: 0fr; */
  row-gap: 1.88rem;
}

.strong-point-frame-icon {
  width: 16.875rem;
  height: 7.5rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  background-color: var(--buttons-color);
  /* align-self: center;
  justify-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.strong-point-icon {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
}

.strong-point-details {
  /* height: 6.3125rem; */
  width: 16.875rem;
  /* display: inline-block;
  vertical-align: middle;
  margin-left: 1.88rem;
  background-color: antiquewhite; */
}

.what-we-do-photos {
  /* text-align: center;
  margin-top: 50px; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.88rem;
}

.strong-point-title {
  text-align: left;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.62rem;
  /* letter-spacing: 0.02625rem; */
}

.strong-point-desc {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--paragraphs-color);
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: 0.02625rem;
}

.section-title {
  font-weight: 700;
  font-size: 2.25rem;
  /* margin-bottom: 3.12rem; */
  /* font-family: "roboto"; */
  /* box-sizing: border-box;
  padding-bottom: 3.12rem; */
  /* padding: 0; */
  line-height: 2.625rem;
}

.what-we-do-photo {
  width: 23.125rem;
  height: 18.375rem;
  /* margin-left: 1.88rem; */
  /* display: grid;
  grid-template-columns: auto auto auto; */
}

.our-team {
  /* height: 648px; */
  background-color: var(--buttons-color);
  /* padding-top: 94px; */
  /* margin-top: 47px; */

  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* margin-left: 0; */
}

.our-team-area {
  width: 100rem;
  background-color: var(--buttons-color);
  display: inline-block;
  box-sizing: border-box;
  padding: 5.87rem 13.44rem;
  /* height: 40.5rem; */
}

.our-team-content {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center;
  flex-direction: column; */
  /* height: 28.76rem; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 3.12rem;
}

.what-we-do-area {
  /* margin-top: 94px; */
  /* margin-bottom: 3.13rem; */
  /* height: 35.88rem; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 3.12rem;
}

.person-box {
  width: 16.875rem;
  height: 26.75rem;
  background-color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  /* text-align: center; */
  /* margin-left: 10rem; */
  /* margin-left: 0; */
  /* text-align: center; */
  /* margin-left: 1.87rem; */
  /* margin-bottom: 94px; */
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  box-shadow: var(--team-boxes-shadow);
  /* text-align: left; */
}

.person-image {
  height: 16.25rem;
  width: 16.875rem;
}

.person-boxs {
  /* width: 73.125rem; */
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1.87rem;
}

.person-name {
  font-weight: 500;
  font-size: 1rem;
  /* margin-bottom: 0.63rem; */
  line-height: 1.188rem;
}

.person-position {
  font-weight: 400;
  font-size: 1rem;
  color: var(--paragraphs-color);
  line-height: 1.188rem;
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--paragraphs-color);
}

.social-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 2.12rem;
  box-sizing: border-box;
  padding-top: 1rem;
  /* trebuie scos din gap */
}

.footer {
  background-color: #2f303a;
  height: 15.6875rem;
  /* margin-top: 47px; */
  text-align: center;
  /* box-sizing: border-box; */
  /* padding: 3.75rem 0 3.75rem 13.44rem; */
  /* width: 100rem; */
}

.footer-area {
  text-align: left;
  display: inline-block;
}

.footer-content {
  /* padding-left: 13.44rem; */
  /* padding-top: 60px; */
  background-color: #2f303a;
  /* height: 15.6875rem; */
  box-sizing: border-box;
  width: 100rem;
  /* display: inline-block; */
  padding: 3.75rem 13.44rem;
  display: grid;
  grid-template-columns: auto;
  row-gap: 1.75rem;
}

.footer-home-page-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #fff;
  letter-spacing: 0.04875rem;
  /* height: 1.9375rem;
  display: inline-block; */
  line-height: 1.9375rem;
  /* display: inline-block;
  height: 1.9375rem; */
}

/* .footer-home-page-button span {
  line-height: 1.9375rem;
} */

.contacts {
  /* margin-top: 28px; */
  font-style: normal;
  /* display: block;
  height: 4.5rem; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.75rem;
}

.address {
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
  /* margin-top: 1.75rem; */
  line-height: 1rem;
  /* display: grid;
  grid-template-columns: auto;
  row-gap: 0.75rem; */
}

.contact {
  color: var(--paragraphs-color);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  /* margin-top: 0.75rem; */
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

/* .strong-points > div:first-of-type {
  margin-left: 0;
  background-color: burlywood;
} */

/* .what-we-do-photos > img:first-of-type {
  margin-left: 0;
} */

/* .person-boxs > div:first-of-type {
  margin-left: 0rem;
} */

.person-about {
  height: 6.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #000000; */
}

.person-about-content {
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.63rem;
}

/* .footer {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
} */

.menu-button:hover,
.menu-button:focus
/* ,
.contact-button-text:focus,
.contact-button-text:hover */
/* ,
.contact-button-icon:focus,
.contact-button-icon:hover */ {
  /* cursor: pointer; */
  color: var(--active-buttons-color);
}

/* .contact-button-icon:focus,
.contact-button-icon:hover, */
.active:focus,
.active:hover {
  /* fill: var(--active-buttons-color); */
  color: var(--active-buttons-color);
}

.request-service-button:focus,
.request-service-button:hover {
  cursor: pointer;
}

.extended-line {
  height: 0.0625rem;
  background-color: #ececec;
}

.line {
  height: 0.0625rem;
  background-color: #ececec;
  width: 100rem;
}

/* .product {
  width: 23.125rem;
  height: 25.25rem;
  display: inline-block;
  display: grid;
  width: 23.125rem;
  height: 25.25rem;
  border: 1px solid #eee;
  margin-right: 1.88rem;
  margin-bottom: 1.88rem;
  box-sizing: border-box;
} */

.product-box > img {
  /* height: 18.375rem; */
  /* box-sizing: border-box; */
  width: 100%;
  /* height: 100%; */
  /* margin: 0; */
  /* padding: 0; */
}

.product-about-content > h4 {
  font-weight: 700;
  font-size: 1.125rem;
  color: #212121;
  line-height: 2.25rem;
}

.product-about-content > p {
  color: var(--paragraphs-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.products-list {
  /* display: flex;
  flex-direction: row; */
  /* display: inline-block; */
  /* align-items: center;
  justify-content: center; */
  /* list-style-type: none; */
  /* width: 10rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.88rem;
  row-gap: 1.88rem;
}

/* .products > div {
  width: 73.375rem;
  display: grid;
  background-color: #000000;
} */

/* .products {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #000000;
  margin-right: 0;
  margin-bottom: 0;
} */

.products-page-content {
  /* width: 73.125rem;
  height: 85rem; */
  /* display: inline-block; */
  width: fit-content;
  height: fit-content;
}

.navigation-menu-products {
  /* display: flex;
  align-items: baseline;
  justify-content: center; */
  /* height: 5.5rem; */
  height: fit-content;
  box-sizing: border-box;
  padding: 0 20.44rem 3.13rem 20.44rem;
}

.menu-buttons-products {
  /* display: flex;
  flex-direction: row; */
  /* list-style-type: none; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 0.5rem;
  /* box-sizing: border-box;
  padding: 0.38rem 1.37rem; */
}

.menu-button-products {
  /* width: 4rem;
  height: 2.375rem; */
  background-color: var(--buttons-color);
  /* margin-left: 0.5rem; */
  border-radius: 0.25rem;
  /* outline: none; */
  border: none;
  /* box-sizing: border-box; */
  padding: 0.38rem 1.37rem;
  /* font-size: 1rem; */
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  /* font-family: "Roboto", sans-serif; */
}

/* .menu-buttons-products > li:first-of-type button {
  margin-left: 0;
  background-color: #000000;
} */

.menu-button-products:hover,
.menu-button-products:focus {
  background-color: var(--active-buttons-color);
  color: hsl(0, 100%, 100%);
  box-shadow: var(--buttons-shadow);
  cursor: pointer;
}

.products-page {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 96.75rem;
  background-color: #000000;
  margin: 0; */
  text-align: center;
  /* box-sizing: border-box;
  padding: 5.88rem 13.44rem;
  width: 100rem;
  height: 96.75rem; */
  /* display: inline-block; */
}

.products-page-area {
  /* text-align: center; */
  display: inline-block;
  box-sizing: border-box;
  padding: 5.88rem 13.44rem;
  /* width: 100rem;
  height: 96.75rem; */
  width: fit-content;
  height: fit-content;
}

/* .products-page > div {
  height: 85rem;
  background-color: #000000;
} */

.product-box {
  width: 23.125rem;
  height: 25.25rem;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0fr;
  /* justify-items: stretch; */
  /* justify-self: auto; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin-right: 1.88rem;
  margin-bottom: 1.88rem;
  background-color: #000000;
  display: inline-block; */
}

/* .products-list {
  display: inline-block;
  text-align: center;
  display: grid;
  grid-row: 3;
  grid-column: 3;
} */

.product-about {
  /* text-align: left; */
  display: flex;
  align-items: center;
  height: 100%;
  /* box-sizing: border-box; */
  /* width: 23.125rem; */
  flex-direction: column;
  justify-content: center;
  /* margin-left: 1.5rem; */
  /* box-sizing: border-box;
  padding: 1.25rem; */
  /* display: flex; */
  /* text-align: left; */
}

.product-about-content {
  /* height: 6.87rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: flex;
  width: 20.125rem;
  height: 4.325rem;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

/* .product-about > div > h4 {
} */

/* .product-3,
.product-6,
.product-9 {
  margin-right: 0rem;
} */

/* .product-7,
.product-8,
.product-9 {
  margin-bottom: 0rem;
} */

.contact:hover,
.contact:focus {
  color: var(--active-buttons-color);
}

.product:hover,
.product:focus {
  cursor: pointer;
  /* box-shadow: 0px 2px 2px 0px, rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1); */
  box-shadow: var(--products-boxes-shadow);
}

.current-page {
  color: var(--active-buttons-color);
}

.current-filter-products {
  background-color: var(--active-buttons-color);
  color: hsl(0, 100%, 100%);
  box-shadow: var(--buttons-shadow);
}

/* .product-1 {
  display: grid;
  grid-row: 3;
} */

/* .products-page div {
  background-color: #000000;
} */

.hidden {
  display: none;
}

/* .products-page-area.web-site,
.products-page-area.marketing,
.products-page-area.apps,
.products-page-area.design,
.products-page-content.web-site,
.products-page-content.apps,
.products-page-content.marketing,
.products-page-content.design {
  height: 43.2rem;
  align-items: baseline;
  box-sizing: border-box;
  padding: 5.88rem 0 0 0;
  height: fit-content;
  width: fit-content;
} */

/* .products-page-area.web-site > div,
.products-page-area.marketing > div,
.products-page-area.apps > div,
.products-page-area.design > div {
  height: fit-content;
} */

/* .products-page.apps {
  height: 50.3rem;
}

.product-page.design {
  height: 50.3rem;
}

.product-page.marketing {
  height: 50.3rem;
} */

/* body.studio {
  height: 100rem;
  width: 146.75rem;
}

body.portfolio {
  height: 1879;
  width: ;
} */

/* .navigation-area,
.main-page-area {
  width: 100rem;
  height: 146.75rem;
  display: inline-block;
} */

/* .studio-page {
  height: 146.75rem;
  width: 100rem;
  display: flex;
} */

/* .footer div {

} */
